<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<div id="layout" class="pure-g">
  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <div class="posts">
        <div style="display: flex; justify-content: space-between;">
          <h1 class="content-subhead">Blog posts</h1>
        <a class="button button2" routerLink="/postcreation">create new post</a>
        </div>

        <span style="color: red" *ngIf="errorMessage">{{ errorMessage }} </span>
        <section class="post" *ngFor="let post of blogPosts">
          <header class="post-header">
            <h2 class="post-title" [innerHTML]="post.title.rendered"></h2>
            <p class="post-meta">
              Date
              <a routerLink="/posts">{{ post.date | date : "short" }}</a>
            </p>
          </header>

          <div class="post-description">
            <p [innerHTML]="post.excerpt.rendered | slice : 0 : 400"></p>
            <a class="button button1" [routerLink]="['/posts', post.id]">
              Read More
            </a>
          </div>
        </section>
      </div>

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
          <div class="pure-menu-item">
            <a href="http://twitter.com/zeina_sadaldeen" class="pure-menu-link"
              >Twitter</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
